{# 加载标签库 #}
{% load bootstrap4 %}
{# 加载css和javascript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{# 显示警告弹窗 #}
{% bootstrap_messages %}
<div class="container" style="padding-top: 8vh">
    <button style="float: right;margin-right: 30px" onclick="location.href='/'" class="btn btn-info">返回首页</button>

    <div style="padding-bottom: 30px">
        <h1 style="text-align: center"> 学习文件</h1>
        {% if file_list %}

            <table class="table table-hover">
                <td>上传文件</td>
                <td>上传人</td>
                <td>提交时间</td>
                {% for file in file_list %}
                    <tr>
                        <th>
                            <a class="el-link--primary" href ="{{ file.file_http }}" style="color: blue">{{ file.file_name }}</a>

                        </th>
                        <th>
                            {{ file.creator }}
                        </th>
                        <th>
                            {{ file.create_date }}
                        </th>


                    </tr>

                {% endfor %}


            </table>
        {% else %}
            <p>暂时没有提交学习文件</p>
        {% endif %}

        {#                <div class="el-card__body .el-card.is-always-shadow .el-card.is-hover-shadow:focus .el-card.is-hover-shadow:hover">#}
        {#                 <li class="el-card__header" style=" height: 80px ;background-color: #f1f1f1"> </li>#}
        {#                </div>#}

        {#        <button style="float: right" onclick="location.href='/apply'" class="btn btn-info">申请入党</button>#}
    </div>

{#{% if file_list %}#}
{#    <ul>#}
{#        {% for file in file_list %}#}
{#            <div class="el-timeline-item__content" style="padding-bottom: 10px">#}
{#                <div class="el-card is-always-shadow">#}
{#                    <!---->#}
{#                    <div class="el-card__body">#}
{#                        <a class="el-link--primary" href ="{{ file.file_http }}" style="color: blue">{{ file.file_name }}</a>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{##}
            {#                <div class="el-card__body .el-card.is-always-shadow .el-card.is-hover-shadow:focus .el-card.is-hover-shadow:hover">#}
            {#                 <li class="el-card__header" style=" height: 80px ;background-color: #f1f1f1"> </li>#}
            {#                </div>#}
{#        {% endfor %}#}
{##}
{#    </ul>#}
{#{% else %}#}
{#    <p>暂时没有文件</p>#}
{#{% endif %}#}

<form action="/upload/" method="post" enctype="multipart/form-data" class="form-main"  style="width: 600px;margin-left: 5px">
    {% csrf_token %}
{#    <div class="dropdown">#}
{#        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false">#}
{#            上传文件类型#}
{#        </button>#}
{#        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"  data-model-name="filetype">#}
{#            {% for foo in filetype %}#}
{#                <a class="dropdown-item"  > {{ foo}} </a>#}
{#            {% endfor %}#}
{##}
{#        </div>#}
{#    </div>#}
    <div class="form-group">
        <label for="exampleFormControlSelect1">Example select</label>
        <select class="form-control" id="exampleFormControlSelect1" name="filetype">
                    {% for type in filetype %}
                        <option value="{{ type }}" >{{ type }}</option>
                    {% endfor %}
        </select>
    </div>
{#    <div class="form-group">#}
{#        <select  form="filetype" name="filetype">#}
{#        {% for type in filetype %}#}
{#            <option value="{{ type }}" >{{ type }}</option>#}
{#        {% endfor %}#}
{#        </select>#}
{#    </div>#}
    <div class="form-group">
        <label for="exampleFormControlFile1">请选择上传文件</label>
        <input type="file" class="form-control-file" name="myfile">
    </div>
    {% buttons %}
        <button type="submit" class="btn btn-primary" >
            上传
        </button>
    {% endbuttons %}
</form>

{#<form action="/upload/" method="post">#}
{#    {% csrf_token %}#}
{#    <p><input type="file" name="up_file"></p>#}
{#    <input type="submit">#}
{#</form>#}
{##}
{#<form method="post" class="form-main" enctype="multipart/form-data" style="width: 600px;margin-left: 5px">#}
{#    {% csrf_token %}#}
{#    #}
{#    {% buttons %}#}
{#        <button type="submit" class="btn btn-primary">#}
{#            上传#}
{#        </button>#}
{#    {% endbuttons %}#}
{#</form>#}
</div>